.conteiner {
  display: flex;
  flex-direction: column;

  &-button-video {
    width: 200px;
  }
  &-server-block {
    margin-top: 15px;
  }
  &-input {
    width: 500px;
  }
  &-input-block {
    margin-top: 50px;
  }
  &-server-block {
    p {
      margin-top: 10px;
      margin-left: 10px;
      display: inline;
      padding: 5px;
      border-radius: 10px;
    }
  }
}

.color-white {
  color: #fff;
}
