<form [formGroup]="form" (ngSubmit)="submit()">

  <div class="form-row">
    <div class="formItem">
      <label class="distance" for="Email">Type Email</label>
      <input id="Email" name="Email" type="text" class="form-control" placeholder="My Email" formControlName="email">
      <div
        *ngIf="checkControl('email')"
        class="validation">
        <small>You should type correct email.</small>
      </div>
    </div>
    <div class="formItem">
      <label class="distance" for="password">Create Password</label>
      <input id="password" name="password" type="password" class="form-control" placeholder="My password" formControlName="password">
      <div
        *ngIf="checkControl('password')"
        class="validation">
        <small>Minimal length should be 4.</small>
      </div>
    </div>

    <button
      type="submit"
      class="formItem btn btn-success"
      [disabled]="form.invalid">Sign up</button>
  </div>
</form>

