<script src="../../../../../../Downloads/main-page/test.directive.ts"></script>
<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit($event)">
    <div class="form-row">

      <div class="formItem">
        <select formControlName="select">
          <option value="">Open this select menu</option>
          <option value="jazz">Jazz</option>
          <option value="soul">Soul</option>
          <option value="funk">Funk</option>
        </select>

        <div *ngIf="checkControl('select')" class="validation">
          <small>Choose one genre.</small>
        </div>
      </div>

      <div class="formItem">
        <label for="Name">Name</label>
        <input type="text" class="form-control" id="Name" placeholder="Name" formControlName="name">

        <div *ngIf="checkControl('name')" class="validation">
          <small>Type name.</small>
        </div>
      </div>

      <div class="formItem">
        <label for="Author">Author</label>
        <input type="text" class="form-control" id="Author" placeholder="Author" formControlName="author">

        <div *ngIf="checkControl('author')" class="validation">
          <small>Type author.</small>
        </div>
      </div>

      <div class="formItem">
        <label for="url">Song URL</label>
        <div class="input-group mb-3">
          <div>
            <span class="input-group-text" id="basic-addon3">https://example.com/song/</span>
          </div>
          <input type="url" class="form-control" id="url" formControlName="url">
        </div>

        <div *ngIf="checkControl('url')" class="validation">
          <small>Type correct http url.</small>
        </div>
      </div>

      <div class="formItem">
        <label for="Time">Time</label>
        <input type="text" class="form-control" id="Time" placeholder="4:20" formControlName="time">
      </div>

      <div *ngIf="checkControl('time')" class="validation">
        <small>Type song time.</small>
      </div>
    </div>

    <div class="buttons">
      <a routerLink="/songs/allSongs"><button type="button" class="btn btn-secondary">Back</button></a>
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Save</button>
    </div>

  </form>
</div>
