<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-row">

      <div class="formItem">
        <select formControlName="select">
          <option value="">Open this select menu</option>
          <option value="Jazz">Jazz</option>
          <option value="Soul">Soul</option>
          <option value="Funk">Funk</option>
        </select>

<!--        <div *ngIf="form.get('select').invalid" class="validation">-->
<!--          <small>Choose one genre.</small>-->
<!--        </div>-->
      </div>

      <div class="formItem">
        <label for="Name">Name</label>
        <input type="text" class="form-control" id="Name" placeholder="Name" formControlName="name">
      </div>

      <div class="formItem">
        <label for="Author">Author</label>
        <input type="text" class="form-control" id="Author" placeholder="Author" formControlName="author">
      </div>

      <div class="formItem">
        <label for="url">Song URL</label>
        <div class="input-group mb-3">
          <div>
            <span class="input-group-text" id="basic-addon3">https://example.com/song/</span>
          </div>
          <input type="url" class="form-control" id="url" formControlName="url">
        </div>
      </div>

      <div class="formItem">
        <label for="Time">Time</label>
        <input type="text" class="form-control" id="Time" placeholder="4:20" formControlName="time">
      </div>

    </div>

    <div class="buttons">
      <a href="/songs/allSongs"><button type="button" class="btn btn-secondary">Back</button></a>
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Save</button>
    </div>

  </form>
</div>
