<div class="conteiner">

  <img *ngIf="imgUrl" src="{{ imgUrl }}" alt="" class="conteiner-musicImg">
<!--  <ng-template #noImg>-->
<!--    <img class="conteiner-musicImg"  src="{{ noImgUrl }}" alt="No image">-->
<!--  </ng-template>-->

  <a class="conteiner-song-name"
     href="{{ url }}"
     (click)="changeListened()"
     target="_blank">{{ name }}</a>
  <p>{{ author }}</p>
  <p>{{ time }}</p>

</div>

<div class="listened">
  <mark *ngIf="listenedSong; else listen">
    Listened
  </mark>

  <ng-template #listen>
    <mark>
      (Tab to listen)
    </mark>
  </ng-template>
</div>
