.conteiner {
  margin: 20px;
  border-radius: 16px;

  nav {
    margin-bottom: 20px;
  }
}

.activeLink {
  color: #ffc900;
  background-color: #242572;
  border-radius: 6px;
}

.auth {
  text-align: right;
  cursor: pointer;
}
